
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 30% 98%;
    --foreground: 260 20% 10%;

    --card: 0 0% 100%;
    --card-foreground: 260 20% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 260 20% 10%;

    --primary: 265 84% 58%;
    --primary-foreground: 0 0% 98%;

    --secondary: 270 10% 94%;
    --secondary-foreground: 260 20% 10%;

    --muted: 270 10% 94%;
    --muted-foreground: 260 30% 40%;

    --accent: 280 84% 70%;
    --accent-foreground: 0 0% 98%;

    --destructive: 350 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 20% 88%;
    --input: 260 20% 88%;
    --ring: 265 84% 58%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 260 30% 7%;
    --foreground: 0 0% 98%;

    --card: 260 30% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 260 30% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 265 84% 58%;
    --primary-foreground: 0 0% 98%;

    --secondary: 260 20% 18%;
    --secondary-foreground: 0 0% 98%;

    --muted: 260 20% 18%;
    --muted-foreground: 240 10% 70%;

    --accent: 280 84% 70%;
    --accent-foreground: 0 0% 98%;

    --destructive: 350 70% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 20% 20%;
    --input: 260 20% 20%;
    --ring: 265 84% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.auth-layout-pattern {
  background-color: #f9f7ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239b6dff' fill-opacity='0.08'%3E%3Cpath opacity='0.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
